body {
  margin: 0;
}

header {
  background: #03a8fa;
  text-align: center;
}

.logo {
  color: #fff;
  font-family: Anton;
  font-size: 50px;
}

header input {
  font-size: 20px;
  margin: 20px 0px;
}
